//@import "./variables";
@import "../lib/libs";

*{
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}


input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  background-color: white;
  border: 1px solid #eee;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px 20px;
  font-size: 16px;
  color: #888;
  width: 100%;

  border-radius: 0;
  transition: all 0.2s ease-in;

  &::placeholder {
    color: #888;
  }
  &:focus {
    border: 1px solid $app-color1;
    list-style: none;
    &::placeholder {
      color: $app-color1;
    }
  }

  &:focus-visible {
    border: 1px solid $app-color1;
    list-style: none;
    outline-style: none;
    &::placeholder {
      color: $app-color1;
    }
  }
}

.btn{
  font-family: $font-raj;
  letter-spacing: 1px;
  text-transform: uppercase;
}